<div class="container mt-5" style="height: 412px;
overflow: auto;
padding-top: 10px;">

  <div class=" mb-5" style="width: 100%">
    <form class=" my-2 my-lg-0" style="width: 100%; position: relative" #searchForm="ngForm">
      <input class="form-control mr-sm-2" style="font-weight: bold;" type="text" ngModel name="courseName" placeholder="Search By The Course Name" aria-label="Search">
      <button style="position: absolute; right: 0; bottom: 0; width: 10%" class="btn btn-success my-2 my-sm-0" type="submit" (click)="search(searchForm)">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>

  <div class="mb-3" *ngIf="isAdmin">
    <button (click)="collectTeachersAndSpecialities()" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add">
      <i class="fa-sharp fa-solid fa-plus"></i>
    </button>
  </div>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">Teacher</th>
        <th scope="col">Course Name</th>
        <th scope="col">Course Description</th>
        <th scope="col"> Speciality </th>

        <th scope="col" *ngIf="isAdmin">Update</th>
        <th scope="col" *ngIf="isAdmin">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses;">
        <th scope="row">
          <img
          class="card-img-top img-responsive"
          src="{{course.teacher.imageStr}}"
          style="height: 50px; width: 50px; border-radius: 50%"
          >
        </th>
        <td> {{course.courseName}} </td>
        <td> {{course.courseDesc}} </td>

        <td> {{course.speciality.specialityName}} </td>


        <td>
          <button *ngIf="isAdmin" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#update" (click)="getCourse(course, 'edit')">
            <i class="fa-solid fa-pen-to-square text-success" style="font-size: 20px;"></i>
          </button>
        </td>
        <td>
          <button *ngIf="isAdmin" class="btn"  type="button" data-bs-toggle="modal" data-bs-target="#delete" (click)="getCourse(course)">
            <i class="fa-solid fa-trash text-danger" style="font-size: 20px;"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="modal fade" style="background: rgba(0, 0, 0, 0.089);" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add A New Course ⭐</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form #addForm="ngForm">
          <div class="modal-body">

            <div class="form-floating mb-3">
              <input type="text" ngModel class="form-control" name="courseName" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Course Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" ngModel class="form-control" name="courseDesc" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Course Desc</label>
            </div>


            <div class="form-floating mb-3">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" ngModel name="teacher">
                <option *ngFor="let teacher of teachers;" [value]="teacher.teacherId"> {{teacher.firstName}} {{teacher.lastName}} </option>
              </select>
              <label for="floatingSelect">Teacher</label>
            </div>

            <div class="form-floating mb-3">
              <select class="form-select" id="floatingSelect" aria-label="Floating label select example" ngModel name="speciality">
                <option *ngFor="let speciality of specialities" [value]="speciality.specialityId" > {{speciality?.specialityName}} </option>
              </select>
              <label for="floatingSelect">Speciality</label>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" id="addClose" data-bs-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" (click)="addCourse(addForm)">Add Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" style="background: rgba(0, 0, 0, 0.089);" id="update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update The <b> < {{course?.courseName}} > </b> Course ✔</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #editForm="ngForm" (ngSubmit)="updateCourse(editForm.value)">
        <div class="modal-body">

          <div class="form-floating mb-3" hidden>
            <input type="text" ngModel="{{course?.courseId}}" class="form-control" name="courseId" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Course Id</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" ngModel="{{course?.courseName}}" class="form-control" name="courseName" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Course Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" ngModel="{{course?.courseDesc}}" class="form-control" name="courseDesc" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Course Desc</label>
          </div>


          <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" ngModel name="teacher">
              <option *ngFor="let teacher of teachers;" [value]="teacher.teacherId"> {{teacher.firstName}} {{teacher.lastName}} </option>
            </select>
            <label for="floatingSelect">Teacher</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example" ngModel name="speciality">
              <option *ngFor="let speciality of specialities" [value]="speciality.specialityId" > {{speciality?.specialityName}} </option>
            </select>
            <label for="floatingSelect">Speciality</label>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" id="editClose" data-bs-dismiss="modal">Close</button>
          <button [disabled]="editForm.invalid" type="submit" class="btn btn-success">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" style="background: rgba(0, 0, 0, 0.089);" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete The<b> < {{course?.courseName}} > </b> Course ❌ </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are You Sure About This Action ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="deleteClose" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteCourse(course!.courseId)">Delete Anyway</button>
      </div>
    </div>
  </div>
</div>
</div>
